<div class="container" *ngIf="response">
  <div class="row modified-row">
    <div class="col-xs-12 col-md-6">
      <h1 class="title">
        Obtener el clima y predicciones
      </h1>

      <p class="mt-4">
        Obten informacion del clima y predicciones de los proximos dias
        para ello nececiraremos permiso a tu ubicacion dando click en
        el boton
      </p>

      <button mat-flat-button color="accent" class="mt-4" (click)="getLocationAndWeather()">
        <mat-icon>
          my_location
        </mat-icon>
        &nbsp;
        Obtener el clima con mi ubicacion
      </button>

      <p class="mt-4 error" *ngIf="error">
        Error: por favor da permiso de usar tu ubicacion
      </p>
    </div>

    <div class="col-md-5 mt-4">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <mat-card>
            <mat-card-subtitle>
              Clima actual
            </mat-card-subtitle>

            <mat-card-content>
              <div class="row">
                <div class="col-xs-12 col-md-12 weather-info">
                  <img
                    [src]="response.current.condition.icon"
                    [alt]="response.current.condition.text"
                  >

                  <div class="ml-4">
                    <h1 class="title-no-margin font-weight">
                      {{ response.current.temp_c }}°c
                    </h1>
                    <p class="title-no-margin">
                      {{ response.current.condition.text }}
                    </p>
                  </div>
                </div>

                <div class="col-xs-12 col-md-12">
                  <h2 class="title-no-margin">
                    {{ response.location.name }}
                  </h2>
                  <p>
                    {{ response.location.localtime | formatDate }}
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-xs-12 col-md-12 mt-4">
          <mat-card>
            <mat-card-subtitle>
              Pronostico
            </mat-card-subtitle>

            <div *ngFor="let forecast of response.forecast.forecastday">
              <app-prediction-card [foreCast]="forecast"></app-prediction-card>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
